{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">

<div class="header-container">
  <div class="navbar">
    <a class="navbar-brand" href="https://t.me/fish_journal">
      <img src="{% static 'img/tg.png' %}" alt="Telegram" width="30" height="24">
    </a>
    <a href="{% url 'posts:index' %}">Главная</a>
    <a href="{% url 'about:us' %}">О нас</a>
    <a href="{% url 'about:contacts' %}">Контакты</a>
  </div>
  <a href="{% url 'posts:index' %}">
    <img src="{% static 'img/header.jpg' %}" class="header-img">
  </a>
  {% if request.path == "/" %}
    <form class="d-flex navbar-search" role="search" action="{% url 'posts:post_list' %}" method="get">
      <input class="form-control me-2" type="search" name="q" placeholder="Поиск по заголовку" aria-label="Поиск" value="{{ request.GET.q }}">
      <button class="btn btn-outline-success" type="submit">Поиск</button>
    </form>
  {% endif %}
</div>
