{% load static %}
<style>
  .header-container {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
  }

  .header-img {
    height: auto;
    width: 100%;
    max-height: 310px;
  }

  .navbar {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: transparent;
  }
</style>
<div class="header-container">
  <img src="{% static 'img/header.jpg' %}" class="header-img">
  <nav class="navbar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>