<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Заголовок страницы</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  </head>
  <body style="background-color: whitesmoke">
    <header>
      <style>
        .nav-link.special {
          font-size: 24px;
          color:rgba(0, 118, 63, 0.601);
          font-weight: bold;
        }
      </style>
      {% include "includes/header.html" %}
      <ul class="nav justify-content-center">
        {% for group in groups %}
          <li class="nav-item">
            <a class="nav-link special" href="#">{{ group.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>