.no-gutters .col-3,
.no-gutters .col-6 {
    padding-right: 0;
    padding-left: 0;
}

.card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: relative;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 2px;
}

.card-subtitle {
    font-size: 12px;
    color: #666;
    margin-top: 3px;
}

.card-group {
    font-size: 11px;
    color: #fe0000;
}

/* Дополнительные стили для первой новости */
.first-post {
    padding: 16px;
}

.first-post .card-title {
    font-size: 28px;
    color: #333;
    margin-top: 2px;
}

.first-post .card-subtitle {
    font-size: 18px;
    color: #666;
    margin-top: 3px;
}

.first-post .card-body a {
    color: #333;
    font-weight: bold;
}

.big-post .card-body {
    padding: 5px;
}

.big-post .card-title {
    font-size: 26px;
    margin-top: 0px;
}

.big-post .card-subtitle {
    font-size: 14px;
    color: #666;
    margin-top: 0px;
}

.big-post .card-img-top {
    height: 320px;
    object-fit: cover;
}

.big-post {
    margin-top: 20px;
}