{% extends "wrapper.html" %}
{% block title %}O нас {% endblock %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">О нас</h1>
    <div class="row">
      <div class="col-md-6 mb-5">
        <h2>Сообщество в Telegram</h2>
        <p>Мы - сообщество в Telegram, которое помогает рыбакам быть в курсе последних новостей, получать полезную информацию и общаться с другими рыбаками.</p>
        <p>К нашему сообществу подключены два бота, которые точно будут вам полезны:</p>
        <ul>
          <li>Первый бот предоставляет информацию о реках: температуру, уровень воды, данные о паводках и прогноз погоды на ближайшие два дня. Достаточно написать название реки в чате, чтобы получить нужные сведения.</li>
          <li>Второй бот - нейронная сеть, которая была обучена на большом объеме данных о рыбалке, в том числе информации о виде рыбы, ее поведении, местах обитания и ловли, а также о техниках рыбалки, используемых снастей и приманок. Она готова помочь с любыми вопросами о рыбалке, достаточно лишь обратиться к боту по слову "Петрович" и задать свой вопрос.</li>
        </ul>
        <p>Присоединяйтесь к нашему сообществу по ссылке <a href="https://t.me/fish_journal">https://t.me/fish_journal</a>.</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'img/about-us.jpg' %}" class="img-fluid rounded">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <h2>Новости</h2>
        <p>На нашем сайте вы найдете последние новости о мире рыбалки, как в Беларуси, так и в мире, интересные статьи, советы от опытных рыбаков, а также рубрику статистики и исторические моменты мира рыбалки.</p>
      </div>
    </div>
  </div>
{% endblock %}