{% extends "wrapper.html" %}
{% load static %}

{% block title %}
    {% if post %}
       {{ post.title|truncatechars:30 }}
    {% endif %}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/news_detail.css' %}">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <img src="{{ post.image }}" class="img-fluid image-title mb-3">
            <h1 class="text-center">{{ post.title }}</h1>
            <div class="social-icons">
                <a href="http://vkontakte.ru/share.php?url={{ request.build_absolute_uri }}&title={{ post.title }}&description=&image={{ post.image.url }}&noparse=true" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target="_parent"><img src="{% static 'img/vk.png' %}" alt="Вконтакте" title="Поделиться новостью в Vkontakte"></a>
                <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank"><img src="{% static 'img/tg_soc.png' %}" alt="Telegram" title="Поделиться новостью в Telegram"></a>
                <a href="viber://forward?text={{ request.build_absolute_uri }}%20{{ post.title }}"><img src="{% static 'img/viber.png' %}" alt="Viber" title="Поделиться новостью в Viber"></a>
                <a href="https://connect.ok.ru/offer?url={{ request.build_absolute_uri }}" target="_blank"><img src="{% static 'img/ok.png' %}" alt="Одноклассники" title="Поделиться новостью в Одноклассниках"></a>
                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank"><img src="{% static 'img/twitter.png' %}" alt="Twitter" title="Поделиться новостью в Twitter"></a>
            </div> 
            <!-- <script src="https://yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-curtain data-size="l" data-shape="round" data-services="vkontakte,odnoklassniki,telegram,twitter,viber"></div> -->
            <p class="text-muted text-center bord mb-5">Автор: {{ post.author }} | {{ post.pub_date|date:"d.m.Y"}}</p>
            <div class="row">
                <div class="col-md-12 text-with-images">
                    {% with formatted_text=post.get_formatted_text %}
                        {{ formatted_text|safe }}  <!-- Отображаем отформатированный текст с вставленными изображениями -->
                    {% endwith %}
                </div>               
            </div>
        </div>
    </div>
</div>
{% endblock %}
